<%= form_for @event, :url => { :action => "create" }, :html => {:class => "input"} do |f| %>
  <%= label_tag(:name, "Event Name") %>
  <%= f.text_field :name %><br />
  <%= label_tag(:location, "Location") %>
  <%= f.text_field :location %><br />
  <%= label_tag(:description, "Description") %>
  <%= f.text_area :description, :size => "60x12" %><br />
  <%= f.submit "Create Event" %>
<% end %>

<!--<div class="input">
        <form accept-charset="UTF-8" action="/event" class="new_event" id="new_event" method="post">
            <label for="name">Name of the Event:</label>
            <input name="event[name]" type="text" /><br />
            <label for="location">Location:</label>
            <input name="event[location]" type="text"/><br />
            <label for="desc">Description:</label>
            <textarea name="event[description]" rows="5" cols="15"></textarea><br />
            <label for="timeStart">When:</label>
            <input name="timeStart" type="text"/>
            <label for="timeEnd"></label>
            <input name="event[timeEnd]" type="text"/><br />
            <label for="type">Type of Event:</label>
            <input name="type" type="text"/><br />
            <label for="private">Privacy:</label>
            <select name="private">
            <option value="private">Private</option>
            <option value="public">Public</option>
            </select><br/>
            <label for="sharable">Flyers:</label>
            <input name="sharable"type="file" /><br>
            <label for="photo">Photo:</label>
            <input name="photo"type="file" /><br>
            
            <input name="commit" type="submit" value="Submit" />
            </form>
		</div>		

<%= button_to "Back", events_path, :method => :get %>
-->

<style>
.input{
	margin:auto;
	width:300px;
	min-height:300px;
	background-color:#EEEEEE;
	padding:15px;
	padding-top:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

label {
	margin-top:10px;
	display:block;
	font-weight:bold;
	width:160px;
	color:#66cc00;
}
input[type=text] {
	width:200px;	
}
textarea {
	width:200px;	
}
}
</style>