<!DOCTYPE html>
<html>
<head>
  <title>OtterEvents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">
<div id="stripe">
	<div id="stripeInner">
		<div id="loginTools">
			<% if user_tbl_signed_in? -%>
			You are logged in as 
			<%= link_to current_user_tbl.email.split("@").first, "/dashboard", :class => "button" %>
			<%= link_to 'Sign out', destroy_user_tbl_session_path, :method => :delete, :class => "button" %>
			<% else %>
			<%= link_to 'Sign In', new_user_tbl_session_path, :class => "button" %>
			<%= link_to 'Register', new_user_tbl_registration_path, :class => "button" %>
			<% end %>
		</div>
	</div>
</div>
<div id="container">
	<div id="header">
		<% if notice -%>
		<p class="notice"><%= notice %></p>
		<%end
		 else if alert -%>
       	<p class="alert"><%= alert %></p>
       	<% end %>
		<div class="logo" align="left"><img src="../assets/otter_events_small.png" /></div>
		<div id="nav">
			
		</div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
<div id="footer">
	<p>Copyright 2012 - Otter Events.</p>
	<p>Otter Events is in no way affiliated with California State University, Monterey Bay</p>
</div>



</body>
</html>
